**Upload Data-Set from the local drive**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving IPL IMB381IPL2013 (2).csv to IPL IMB381IPL2013 (2).csv

**1. Load the IPL Data Set**

In [ ]:
import pandas as pd
ipl_df = pd.read_csv("/content/IPL IMB381IPL2013 (2).csv")
print(ipl_df.shape)
print(ipl_df.head())
print(ipl_df.info())

(130, 26)
   Sl.NO.   PLAYER NAME  AGE COUNTRY  TEAM PLAYING ROLE  T-RUNS  T-WKTS  \
0       1   Abdulla, YA    2      SA  KXIP   Allrounder       0       0
1       2  Abdur Razzak    2     BAN   RCB       Bowler     214      18
2       3   Agarkar, AB    2     IND   KKR       Bowler     571      58
3       4     Ashwin, R    1     IND   CSK       Bowler     284      31
4       5  Badrinath, S    2     IND   CSK      Batsman      63       0

   ODI-RUNS-S  ODI-SR-B  ...    SR-B  SIXERS  RUNS-C  WKTS  AVE-BL   ECON  \
0           0      0.00  ...    0.00       0     307    15   20.47   8.90
1         657     71.41  ...    0.00       0      29     0    0.00  14.50
2        1269     80.62  ...  121.01       5    1059    29   36.52   8.81
3         241     84.56  ...   76.32       0    1125    49   22.96   6.23
4          79     45.93  ...  120.71      28       0     0    0.00   0.00

   SR-BL  AUCTION YEAR  BASE PRICE  SOLD PRICE
0  13.93          2009       50000       50000
1   0.00          2008       50000       50000
2  24.90          2008      200000      350000
3  22.14          2011      100000      850000
4   0.00          2011      100000      800000

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB
None

**2. Display the first initial  10 columns for thre first 5 records**

In [ ]:
ipl_df.iloc[0:5 , 0:10]

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93

**3. Use only the following features to predict the players sold price**

In [ ]:
X_features = ['AGE','COUNTRY','PLAYING ROLE','T-RUNS','T-WKTS','ODI-RUNS-S','ODI-WKTS','ODI-SR-BL','CAPTAINCY EXP','RUNS-S','HS','AVE','SR-B','SIXERS','RUNS-C','WKTS','AVE-BL','ECON','SR-BL','SOLD PRICE']

**4. Some of these features are categorical . A categorical feature with k values is encoded using (k-1) binary/dummy features.**

In [ ]:
categorical_features = ['AGE', 'COUNTRY', 'PLAYING ROLE', 'CAPTAINCY EXP']
ipl_encoded_df = pd.get_dummies(ipl_df[X_features], columns = categorical_features, drop_first = True)
X_features = ipl_encoded_df.columns
print(X_features)

Index(['T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-WKTS', 'ODI-SR-BL', 'RUNS-S',
       'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C', 'WKTS', 'AVE-BL', 'ECON',
       'SR-BL', 'SOLD PRICE', 'AGE_2', 'AGE_3', 'COUNTRY_BAN', 'COUNTRY_ENG',
       'COUNTRY_IND', 'COUNTRY_NZ', 'COUNTRY_PAK', 'COUNTRY_SA', 'COUNTRY_SL',
       'COUNTRY_WI', 'COUNTRY_ZIM', 'PLAYING ROLE_Batsman',
       'PLAYING ROLE_Bowler', 'PLAYING ROLE_W. Keeper', 'CAPTAINCY EXP_1'],
      dtype='object')

In [ ]:
print(ipl_encoded_df.head(5))

   T-RUNS  T-WKTS  ODI-RUNS-S  ODI-WKTS  ODI-SR-BL  RUNS-S  HS    AVE    SR-B  \
0       0       0           0         0        0.0       0   0   0.00    0.00
1     214      18         657       185       37.6       0   0   0.00    0.00
2     571      58        1269       288       32.9     167  39  18.56  121.01
3     284      31         241        51       36.8      58  11   5.80   76.32
4      63       0          79         0        0.0    1317  71  32.93  120.71

   SIXERS  ...  COUNTRY_NZ  COUNTRY_PAK  COUNTRY_SA  COUNTRY_SL  COUNTRY_WI  \
0       0  ...           0            0           1           0           0
1       0  ...           0            0           0           0           0
2       5  ...           0            0           0           0           0
3       0  ...           0            0           0           0           0
4      28  ...           0            0           0           0           0

   COUNTRY_ZIM  PLAYING ROLE_Batsman  PLAYING ROLE_Bowler  \
0            0                     0                    0
1            0                     0                    1
2            0                     0                    1
3            0                     0                    1
4            0                     1                    0

   PLAYING ROLE_W. Keeper  CAPTAINCY EXP_1
0                       0                0
1                       0                0
2                       0                0
3                       0                0
4                       0                0

[5 rows x 31 columns]

**5. Add the constant column to estimate Beto 0 using statsmodel library. Split the Data-Set into Train and Validation Sets**

In [ ]:
from pandas.core.common import random_state
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
X = sm.add_constant(ipl_encoded_df)
Y = ipl_df['SOLD PRICE']

train_X, test_X, train_Y, test_Y= train_test_split(X, Y, train_size = 0.8, random_state = 42)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

**6. Build the model on training set**

In [ ]:
model1 = sm.OLS(train_Y,train_X).fit()
model1.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                          Results: Ordinary least squares
===================================================================================
Model:                    OLS                   Adj. R-squared:          1.000
Dependent Variable:       SOLD PRICE            AIC:                     -4151.4426
Date:                     2022-10-28 04:02      BIC:                     -4066.8221
No. Observations:         104                   Log-Likelihood:          2107.7
Df Model:                 31                    F-statistic:             2.724e+30
Df Residuals:             72                    Prob (F-statistic):      0.00
R-squared:                1.000                 Scale:                   2.1083e-19
-----------------------------------------------------------------------------------
                        Coef.  Std.Err.           t           P>|t|   [0.025 0.975]
-----------------------------------------------------------------------------------
const                   0.0000   0.0000                0.5946 0.5540 -0.0000 0.0000
T-RUNS                 -0.0000   0.0000               -1.9677 0.0530 -0.0000 0.0000
T-WKTS                  0.0000   0.0000                0.2036 0.8393 -0.0000 0.0000
ODI-RUNS-S              0.0000   0.0000                1.1564 0.2513 -0.0000 0.0000
ODI-WKTS                0.0000   0.0000                0.1988 0.8430 -0.0000 0.0000
ODI-SR-BL              -0.0000   0.0000               -0.3951 0.6939 -0.0000 0.0000
RUNS-S                  0.0000   0.0000                0.2366 0.8137 -0.0000 0.0000
HS                     -0.0000   0.0000               -0.7404 0.4614 -0.0000 0.0000
AVE                     0.0000   0.0000                0.7877 0.4335 -0.0000 0.0000
SR-B                    0.0000   0.0000                0.7274 0.4693 -0.0000 0.0000
SIXERS                 -0.0000   0.0000               -0.1611 0.8725 -0.0000 0.0000
RUNS-C                  0.0000   0.0000                0.1381 0.8906 -0.0000 0.0000
WKTS                   -0.0000   0.0000               -0.2716 0.7867 -0.0000 0.0000
AVE-BL                 -0.0000   0.0000               -0.7388 0.4625 -0.0000 0.0000
ECON                   -0.0000   0.0000               -0.3262 0.7452 -0.0000 0.0000
SR-BL                  -0.0000   0.0000               -0.1872 0.8521 -0.0000 0.0000
SOLD PRICE              1.0000   0.0000 6143260139872592.0000 0.0000  1.0000 1.0000
AGE_2                  -0.0000   0.0000               -0.1807 0.8571 -0.0000 0.0000
AGE_3                   0.0000   0.0000                0.4107 0.6825 -0.0000 0.0000
COUNTRY_BAN            -0.0000   0.0000               -0.0482 0.9617 -0.0000 0.0000
COUNTRY_ENG             0.0000   0.0000                0.6776 0.5002 -0.0000 0.0000
COUNTRY_IND            -0.0000   0.0000               -0.1650 0.8694 -0.0000 0.0000
COUNTRY_NZ              0.0000   0.0000                0.3985 0.6914 -0.0000 0.0000
COUNTRY_PAK             0.0000   0.0000                0.1098 0.9129 -0.0000 0.0000
COUNTRY_SA             -0.0000   0.0000               -0.2923 0.7709 -0.0000 0.0000
COUNTRY_SL              0.0000   0.0000                0.9556 0.3425 -0.0000 0.0000
COUNTRY_WI             -0.0000   0.0000               -0.0459 0.9635 -0.0000 0.0000
COUNTRY_ZIM             0.0000   0.0000                0.0000 1.0000 -0.0000 0.0000
PLAYING ROLE_Batsman    0.0000   0.0000                0.0000 1.0000 -0.0000 0.0000
PLAYING ROLE_Bowler     0.0000   0.0000                0.5046 0.6154 -0.0000 0.0000
PLAYING ROLE_W. Keeper -0.0000   0.0000               -0.4938 0.6230 -0.0000 0.0000
CAPTAINCY EXP_1         0.0000   0.0000                1.0139 0.3140 -0.0000 0.0000
-----------------------------------------------------------------------------------
Omnibus:                   36.812             Durbin-Watson:                1.508
Prob(Omnibus):             0.000              Jarque-Bera (JB):             124.043
Skew:                      1.155              Prob(JB):                     0.000
Kurtosis:                  7.826              Condition No.:                9799013
===================================================================================
* The condition number is large (1e+07). This might indicate             strong
multicollinearity or other numerical problems.
"""

**7. Validate this model on the test data. FInd the regression parameters, r2_score and RMSE of this model1**

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
pred_y = model1.predict(test_X)

print("The r2 score of the model is",np.abs(r2_score(test_Y,pred_y)))
print("The RMSE of the trained model is",np.sqrt(mean_squared_error(test_Y,pred_y)))
print("The model paramters are")
print(model1.params)

The r2 score of the model is 1.0
The RMSE of the trained model is 3.3854109558746726e-10
The model paramters are
const                     1.891749e-10
T-RUNS                   -9.059420e-14
T-WKTS                    1.705303e-13
ODI-RUNS-S                5.151435e-14
ODI-WKTS                  2.273737e-13
ODI-SR-BL                -7.958079e-13
RUNS-S                    5.684342e-14
HS                       -2.728484e-12
AVE                       8.867573e-12
SR-B                      1.364242e-12
SIXERS                   -9.094947e-13
RUNS-C                    5.684342e-14
WKTS                     -2.728484e-12
AVE-BL                   -1.045919e-11
ECON                     -5.911716e-12
SR-BL                    -3.637979e-12
SOLD PRICE                1.000000e+00
AGE_2                    -2.910383e-11
AGE_3                     8.731149e-11
COUNTRY_BAN              -2.910383e-11
COUNTRY_ENG               2.328306e-10
COUNTRY_IND              -2.910383e-11
COUNTRY_NZ                9.458745e-11
COUNTRY_PAK               2.910383e-11
COUNTRY_SA               -5.820766e-11
COUNTRY_SL                2.328306e-10
COUNTRY_WI               -1.455192e-11
COUNTRY_ZIM               0.000000e+00
PLAYING ROLE_Batsman      0.000000e+00
PLAYING ROLE_Bowler       8.731149e-11
PLAYING ROLE_W. Keeper   -1.455192e-10
CAPTAINCY EXP_1           1.746230e-10
dtype: float64

**8. Find the variables which are statistically significant in influencing the response variable if the p-value of a variable is less than the significance value(aplha=0.05) it is an infulencing variable.**

In [ ]:
s = model1.pvalues
vars = list(s.index)
pvals = list(s)

In [ ]:
new = [i for i in zip(vars,pvals)]
print("List of all variables and their pvalues is",new)
important_vars = [ i[0] for i in new if i[1]<0.05]
print("list of influencing vars is",important_vars)

List of all variables and their pvalues is [('const', 0.5539689738798592), ('T-RUNS', 0.05296019862879479), ('T-WKTS', 0.8392554550863263), ('ODI-RUNS-S', 0.25134795098128837), ('ODI-WKTS', 0.843016869572959), ('ODI-SR-BL', 0.6939450847421673), ('RUNS-S', 0.8136671805071538), ('HS', 0.46143767158383786), ('AVE', 0.4334676221189878), ('SR-B', 0.46931407370300826), ('SIXERS', 0.8724741330967318), ('RUNS-C', 0.8905502091907684), ('WKTS', 0.7866927667303332), ('AVE-BL', 0.46245687339175856), ('ECON', 0.7451952000961595), ('SR-BL', 0.8520563418014354), ('SOLD PRICE', 0.0), ('AGE_2', 0.8570979214627906), ('AGE_3', 0.6825085287556526), ('COUNTRY_BAN', 0.9616905531935234), ('COUNTRY_ENG', 0.5001760675124993), ('COUNTRY_IND', 0.869434464682583), ('COUNTRY_NZ', 0.6914125183205824), ('COUNTRY_PAK', 0.9128588990968739), ('COUNTRY_SA', 0.7708852326016248), ('COUNTRY_SL', 0.3424587724944149), ('COUNTRY_WI', 0.9635063684231233), ('COUNTRY_ZIM', 1.0), ('PLAYING ROLE_Batsman', 1.0), ('PLAYING ROLE_Bowler', 0.6153999185982298), ('PLAYING ROLE_W. Keeper', 0.6229687962252791), ('CAPTAINCY EXP_1', 0.31403509978120925)]
list of influencing vars is ['SOLD PRICE']

**9. Train a new model with these significant values**

In [ ]:
train_X = train_X[important_vars]
model2 = sm.OLS(train_Y,train_X).fit()
model2.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Ordinary least squares
================================================================================
Model:                  OLS              Adj. R-squared (uncentered): 1.000
Dependent Variable:     SOLD PRICE       AIC:                         -4406.0930
Date:                   2022-10-28 04:39 BIC:                         -4403.4486
No. Observations:       104              Log-Likelihood:              2204.0
Df Model:               1                F-statistic:                 1.999e+33
Df Residuals:           103              Prob (F-statistic):          0.00
R-squared (uncentered): 1.000            Scale:                       2.3117e-20
----------------------------------------------------------------------------------
             Coef.    Std.Err.             t              P>|t|    [0.025   0.975]
----------------------------------------------------------------------------------
SOLD PRICE   1.0000     0.0000   44714027198680808.0000   0.0000   1.0000   1.0000
--------------------------------------------------------------------------------
Omnibus:                  48.246            Durbin-Watson:               0.991
Prob(Omnibus):            0.000             Jarque-Bera (JB):            117.962
Skew:                     1.792             Prob(JB):                    0.000
Kurtosis:                 6.791             Condition No.:               1
================================================================================

"""

**10. Make prediction on validation sets**

In [ ]:
new_test_X = test_X[train_X.columns]
pred_y = model2.predict(new_test_X)

**11. Find r2_score and RMSE of this prediction by model2**

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
# pred_y = model1.predict(test_X)

print("The r2 score of the model is",np.abs(r2_score(test_Y,pred_y)))
print("The RMSE of the trained model is",np.sqrt(mean_squared_error(test_Y,pred_y)))
print("The model paramters are")
print(model2.params)

The r2 score of the model is 1.0
The RMSE of the trained model is 3.3854109558746726e-10
The model paramters are
SOLD PRICE    1.0
dtype: float64